<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@next"></script>
    <title>Hello Worlds</title>
  </head>
  <body>
    <div id="app">
      <h1>{{ message }}</h1>
      <h2>{{ message }}</h2>
    </div>
    <script>
      const App = {
        data() {
          return {
            message: 'Hello World!!'
          };
        },
      };
      Vue.createApp(App).mount('#app');
    </script>
  </body>
</html>
