
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@next"></script>
    <title>V-for</title>
  </head>

  <body>
    <div id="app">
    <h1 v-for="todo in todos" :key="todo.id">{{todo.id}} {{todo.descriptions}}</h1>
    <ol v-for="todo in todos" :key="todo.id">{{todo.id}} {{todo.descriptions}}</ol>
    </h1>
    </div>
    <script>
      const App = {
        data() {
          return {
           todos:[
               {id:1,descriptions:'eat'},
               {id:2,descriptions:'sleep'},
               {id:3,descriptions:'run'},
           ]
           
          };
        },
        computed: {
            fahrenhiet() {
                return 1.8 * this.celcius + 32
            }
        }
      };
      Vue.createApp(App).mount("#app");
    </script>
  </body>
</html>
