
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@next"></script>
    <title>V-for</title>
  </head>

  <body>
    <div id="app">
   <textarea v-model="html" cols="30" rows="10"></textarea>
   <div>{{html}}</div>
   <div v-html="html"></div>
    </h1>
    </div>
    <script>
      const App = {
        data() {
          return {
           html:''
          };
        },
       
      };
      Vue.createApp(App).mount("#app");
    </script>
  </body>
</html>
